@model Sportify_Back.Models.ReportDataModel

<head>
    <link rel="stylesheet" href="/css/reporte.css">
</head>
<div>
    <h2>Generar Reporte Mensual</h2>
    <button onclick="location.href='@Url.Action("ClassesReport", "Report")'">Reporte de Clases</button>
</div>

